@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  font-family: 'Poppins', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.app{
  text-align: center;
}
.wrapper{
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
  background: #1A1A40;
}
.form{
  width: 100%;
  margin-bottom: 20px;
}
.input{
  border: 1px solid #8758ff;
  padding: 15px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 300px;
  color: black;
  border-radius: 5px;
}
.btn{
  border: 1px solid #8758ff;
  color: #8758ff;
  padding: 15px;
  cursor: pointer;
  margin-left: 16px;
  border-radius: 5px;
}
.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.fa-trash {
  margin-left: 10px;
}
.incopleted{
  color: white;
  cursor: pointer;
}
.completed{
  color: red;
  text-decoration: line-through;
  cursor: pointer;
}
.edit-icon,
.delete-icon {
  cursor: pointer;
}
.input::placeholder {
  color: #000;
}
h1{
  color: #c5aeff;
  text-align: center;
  font-family: cursive;
}